div.video-box.mt-2
        video(width="100%", autoplay,muted, loop)
            source(src="video/video.mp4", width="100%")
        div.box-shadow.text-white.d-flex.justify-content-center.align-items-center
            div
                h2 Introducing
                h1.mb-3.mt-3.large-header A NEW REACTJS BATCH
                h2 By Just For Code
                button.btn.mt-3.py-2.fw-bold.px-5.btn-primary LEARN MORE
div.container 
    div.row
        div.mb-4.col-md
            div.card
                div.text-center.card-body
                    div.icon-box
                        i.fa-brands.fa-html5
                    div.card-title.h5 FIRST 3 MONTH
                    p.card-text HTML, CSS ,JAVASCRIPT , BOOTSTRAP
        div.mb-4.col-md
            div.card
                div.text-center.card-body
                    div.icon-box
                        i.fa-brands.fa-php
                    div.card-title.h5 SECOND 3 MONTH
                    p.card-text PHP, MYSQL ,JQUERY , AJAX , BOOTSTRAP
        div.mb-4.col-md
            div.card
                div.text-center.card-body
                    div.icon-box
                        i.fa-solid.fa-share-nodes
                    div.card-title.h5 THIRD 3 MONTH
                    p.card-text NODEJS , EXPRESSJS , MONGODB , TEMPLATE
        div.mb-4.col-md
            div.card
                div.text-center.card-body
                    div.icon-box
                        i.fa-brands.fa-react
                    div.card-title.h5 FOURTH 3 MONTH
                    p.card-text RREACTJS , NEXTJS , AWS CLOUD , REDUX 
        div.mb-4.col-md
            div.card
                div.text-center.card-body
                    div.icon-box
                        i.fa-brands.fa-python
                    div.card-title.h5 FITH 3 MONTHS ....
                    p.card-text REACTNATIVE OR PYTHON + DSA

div.container.bg-white
  div.row
    h1.mb-5.mt-2 Benifits of learning from Just For Code
    div.col-md
      div.d-flex.mb-4
        div
          div.icon
            i.fa.fa-check
        div.px-3
          h4 100% project based learning
          p
            | We build more than 2 real world major projects in each language and don't worry that the project dev...
      div.d-flex.mb-4
        div
          div.icon
            i.fa.fa-check
        div.px-3
          h4 Live call supports
          p
            | After joining our course you will get a lot of coding problems because our course is 100% project ba...
      div.d-flex.mb-4
        div
          div.icon
            i.fa.fa-check
        div.px-3
          h4 High chance of selection
          p
            | If you will do hard works, And if you will be follow our instructions, High chance of selections....
      div.d-flex.mb-4
        div
          div.icon
            i.fa.fa-check
        div.px-3
          h4 Video Access Timing
          p
            | You can access our videos 24*7 life time, Once you complete your registration....
    div.col-md
      img.rounded-circle-sm-0.rounded-circle(src='images/man.jpg' width='100%' alt='')


include course
include video

div.container.bg-white.mt-5
  div.row
    h1.mb-3 Growth After Premium Facilities
    div.col-md 
        div.d-flex.justify-content-between 
            span Coding Doubts And Queries Solution
            span 99%
        div.progress.mb-5
            div.progress-bar.progress-bar-animated.progress-bar-striped(role='progressbar' style='width: 99%' aria-valuenow='10' aria-valuemin='0' aria-valuemax='100')
        div.d-flex.justify-content-between 
            span Regular Learning Upto
            span 75%
        div.progress.mb-5
            div.progress-bar.progress-bar-animated.progress-bar-striped.bg-success(role='progressbar' style='width: 75%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        div.d-flex.justify-content-between 
            span Jobs And Interview Crack Chances
            span 95%
        div.progress.mb-5
            div.progress-bar.progress-bar-animated.progress-bar-striped.bg-info(role='progressbar' style='width: 95%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
        div.d-flex.justify-content-between 
            span Part Time Earning Posiblities Upto
            span 70%
        div.progress.mb-5
            div.progress-bar.progress-bar-animated.progress-bar-striped.bg-warning(role='progressbar' style='width: 70%' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100')
        div.d-flex.justify-content-between 
            span Communication Skills Improved Upto
            span 90%
        div.progress.mb-5
            div.progress-bar.progress-bar-animated.progress-bar-striped.bg-danger(role='progressbar' style='width: 90%' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100')

